@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*importando a fonte do site google fonts*/
body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);

  font-family: "Roboto", sans-serif; /*essa é a forma que falamos pro nosso cod que a gente quer usar essa fonte, usamos essa fonte pra todos os elementos da nossa pagina*/
}

/*Pra estilizar uma classe no css a gente coloca .nome da classe*/
.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
  
}

.perfil-foto {
  border-radius: 400px;
  max-height: 160px;
  box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
  
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  border-radius: 100px;
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px; /*aqui a altura vai ser 8px e a largura vai ser 16px*/
  background: #ecf4ff;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9ccbfc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);/*Box-shadow deixa uma pequena sombra em baixo*/
  border-radius: 20px; /*Border-radius é oq deixa as bordas arredondadas*/
}

.projetos-titulo{
  list-style: none;/*tirando o estilo que já vem com a lista*/
  font-weight: 700;
  font-size: 36px;
}

.projetos-item{
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height; 48px;
}

.projetos-item a{
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  /*nessa classe a gente ta estilizando a nossa tag body*/
  background: linear-gradient(236.85eg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container{
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos{
  color: #1c1c1c;
}

.dark .tema button{
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}